@import 'tailwindcss';

/* Register the custom font */
@font-face {
    font-family: 'GriftBlack';
    src: url('/fonts/grift-regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Root + theme variables */
@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

/* Optional dark mode variables */
@media (prefers-color-scheme: dark) {
    :root {
        /* --background: #0a0a0a; */
        /* --foreground: #ededed; */
    }
}

/* Global styles */
html,
body {
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'GriftBlack';
    font-weight: 400;
}

/* Our Team Members Starts */
.team-card .hover-img {
    opacity: 0;
    clip-path: inset(50% 50% 50% 50%); /* hidden square */
    transition: clip-path 0.6s ease, opacity 0.5s ease;
}
.team-card:hover .hover-img {
    opacity: 1;
    clip-path: inset(0% 0% 0% 0%); /* reveal full */
}
.team-card .info {
    opacity: 0;
    transform: translateY(100%);
    transition: 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}
.team-card:hover .info {
    opacity: 1;
    transform: translateY(0);
}
/* Our Team Members Ends */

/* Navbar Hover Effect start */
.hover-underline-animation {
    display: inline-block;
    position: relative;
}
.hover-underline-animation::after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    top: 100%;
    width: 100%;
    transform: scaleX(0);
    background: #fafafa;
    transform-origin: 100% 50%;
    transition: transform 0.25s ease-in-out;
}
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.alpha {
    position: -webkit-sticky !important;
    position: sticky;
}
#sidebarWrap {
  height: auto;
  width: 210px;
  float: right;
  position: relative;
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 0;
}

#content {
  width: 568px;
  height: 800px;
}

#footer {
  clear: both;
  margin: 10px 0;
}

#sidebar {
  width: 200px;
  height: 300px;
  position: absolute;
}

#header {
  height: 80px;
  margin-bottom: 10px;
}

#sidebar.fixed {
  position: fixed;
  top: 0;
}

#footer {
  height: 800px;
}

/* Navbar Hover Effect End */
