@import 'tailwindcss';

/* Register the custom font */
@font-face {
    font-family: 'GriftBlack';
    src: url('/fonts/grift-regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Root + theme variables */
@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

/* Optional dark mode variables */
@media (prefers-color-scheme: dark) {
    :root {
        /* --background: #0a0a0a; */
        /* --foreground: #ededed; */
    }
}

/* Global styles */
html,
body {
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'GriftBlack';
    font-weight: 400;
}

/* Our Team Members Starts */
.team-card .hover-img {
    opacity: 0;
    clip-path: inset(50% 50% 50% 50%); /* hidden square */
    transition: clip-path 0.6s ease, opacity 0.5s ease;
}
.team-card:hover .hover-img {
    opacity: 1;
    clip-path: inset(0% 0% 0% 0%); /* reveal full */
}
.team-card .info {
    opacity: 0;
    transform: translateY(100%);
    transition:  0.6s cubic-bezier(.77, 0, .175, 1);
}
.team-card:hover .info {
    opacity: 1;
    transform: translateY(0);
}
/* Our Team Members Ends */
