@import "tailwindcss";

/* @font-face {
  font-family: "TWKLausanne";
  src: url("/fonts/TWKLausanne-200.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
} */

/* h1 {
    -webkit-font-smoothing: antialiased;
    transform-style: preserve-3d;
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}
