@import 'tailwindcss';

@font-face {
    font-family: Georgia, 'Times New Roman', Times, serif;
    src: url('/fonts/Lausanne.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

:root {
}
/* h1 {
    -webkit-font-smoothing: antialiased;
    transform-style: preserve-3d;
} */

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* --background: #0a0a0a; */
        /* --foreground: #ededed; */
    }
}

html,
body {
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'TWKLausanne', sans-serif;
}
